#root {
  text-align: center;
  background-image: url(./images/bg-intro-desktop.png);
  background-color: hsl(0, 100%, 74%);
}
*{
  padding: 0;
  text-decoration: none;
  margin: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}
