$Red: hsl(0, 100%, 74%);
$Green: hsl(154, 59%, 51%);
$Blue: hsl(248, 32%, 49%);
$DarkBlue: hsl(249, 10%, 26%);
$GrayishBlue: hsl(246, 25%, 77%);
$FontSize: 16px;
$mobile-width: 375px;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
// font-family: "Poppins", sans-serif;
// font-weight: 100;

.App {
  transition: all ease-in 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0 2rem;

  .container {
    font-size: $FontSize;
    max-width: 400px;
    max-height: 450px;
    margin-left: 1rem;

    .box {
      box-shadow: rgba(3, 3, 3, 0.12) 0px 0.3em;
      background-color: $Blue;
      margin-bottom: 20px;
      padding: 0.7rem 0;
      border-radius: 7px;

      p {
        color: #ffffff9d;

        span {
          color: #fff;
        }
      }
    }

    .form {
      background-color: #fff;
      padding: 15px 25px;
      box-shadow: rgba(3, 3, 3, 0.12) 0px 0.3em;
      border-radius: 7px;

      .input-group {
        input {
          outline: none;
          border: 0.1em solid #cfcdcd98;
          padding: 0.7rem 1rem;
          border-radius: 4px;
          width: 100%;

          &:active,
          &:focus {
            border: 1px solid $DarkBlue;
          }
        }

        .inpt-group-icon {
          position: relative;


          .inptError {
            &::placeholder {
              color: $Red;
            }

            // border-radius: 4px;
            &:active,
            &:focus {
              border: 2px solid $Red;
            }

          }

          .icons {
            right: 7px;
            position: absolute;
            top: 7px;

          }
        }

        .error {
          color: $Red;
          font-size: 12px;
          margin: 5px 0;
          text-align: end;
          display: flex;
          justify-content: end;


        }

      }

      button {
        box-shadow: rgb(44, 160, 110) 0 3px;
        border-radius: 4px;
        font-weight: bold;
        text-transform: uppercase;
        background-color: $Green;
        border: 1px solid hsl(154, 57%, 47%);
        padding: 0.8rem 0;
        width: 100%;
        font-size: $FontSize;
        color: #fff;
        cursor: pointer;
        margin-bottom: 7px;
        transition: transform ease 0.3s;

        &:active {
          transform: scale(1.02);
        }
      }


      p {
        font-family: "Poppins";
        color: $GrayishBlue;
        font-size: 0.65rem;

        a {
          color: $Red;
        }
      }

    }
  }

  .header-card {
    max-width: 400px;
    color: #fff;
    text-align: start;

    h1 {
      font-family: "Poppins", sans-serif;
      font-weight: 700;
      margin-bottom: 1rem;
    }

    p {
      font-size: $FontSize;
      color: $GrayishBlue;
    }
  }
}


@media only screen and (max-width: 768px) {

  .header-card {
    width: 300px;
    transition: all ease-in-out 0.3s;
  }

  .box {
    padding: 0.5rem 0;
  }
}

@media only screen and (max-width: 550px) {
  #root {
    background-image: url(./images/bg-intro-mobile.png) !important;
  }
*{
  overflow-y: auto !important;
}
  .App {
    transition: all ease-in-out 0.3s;
    margin: 0 1rem;
    flex-direction: column;

    .container {
      margin-left: 0;
      margin-bottom: 1rem;
    }
  }

  .header-card {
    width: 100%;
    text-align: center;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    align-items: center;
    margin-bottom: 1rem;

    h1 {
      font-weight: 400;
    }

    p {
      font-size: 0.5rem;
    }
  }
}